.productDetails {
    padding: 100px 0;
    width: 100%;
    float: left;
}

.productDetails .container {
    display: flex;
    justify-content: space-between;
}

.productDetails .image {
    width: 50%;
    margin-right: 30px;
    /* border: 1px solid red; */
}

.productDetails .image img {
    width: 100%;
}

.productDetails .content {
    /* border: 1px solid red; */
    width: 50%;
}

.react-multi-carousel-dot button {
    background: #4038b3 !important;
    border: none !important;
}

.react-multi-carousel-dot--active button {
    background: #635dc0;
}

.productDetails .review {
    display: flex;
    align-items: center;
}

.redColor {
    color: red;
}

.greenColor {
    color: green;
}

.productDetails .content h1{
    margin: 20px 0;
}
.productDetails .content p{
    margin: 20px 0;
}
.productDetails .content input{
    padding: 11px 0;
    background: gray;
    outline: none;
    border: none;
    width: 70px;
    text-align: center;
}
.button{
    display: inline-block;
    margin-top: 20px !important;
}
.productDetails .content button{
    margin: 10px 0 0 0;
    border: none;
    outline: none;
    background: #4038b3;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    transition: .5s;
    border: 1px solid transparent;
}
.productDetails .content button:hover{
    background: transparent;
    color: #4038b3;
    border: 1px solid #4038b3;
}
.reviews .review h1{
    text-align: center;
    width: 100%;
}
.reviewStar{
    display: flex;
    justify-content: center;
}
.reviewContent{
    margin-top: 20px;
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.review >p{
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
.reviews{
    width: 100%;
    float: left;
    padding: 0 0 50px 0;
    text-align: center;
    /* border: 1px solid red; */
}
.reviewMain{
    border-radius: 5px;
    border: 1px solid rgba(139, 139, 139, 0.471);
    margin: 20px 10px 0 10px;
    text-align: center;
    padding: 50px 10px;
    width: 100%;
    max-width: 300px;
}
.reviewMain p{
    margin-top: 10px;
}

@media (max-width: 425px) {
    .productDetails .container {
        flex-direction: column;
    }
    .productDetails .container >div {
        width: 100%;
    }
    .productDetails .content{
        text-align: center;
    }
    .productDetails .content .review{
        justify-content: center;
    }
}