.header {
    padding: 20px 0;
    width: 100%;
    float: left;
    position: fixed;
    z-index: 99999999999999999999999;
}

.header .burger {
    width: 40px;
    cursor: pointer;
}

.header .burger span {
    background-color: #3b3b3b;
    width: 100%;
    height: 3px;
    display: block;
    margin: 9px 0;
    transition: .5s;
    z-index: 9999;
}

.close span {
    background: var(--darkGray) !important;
}

.close span:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
}

.close span:nth-child(2) {
    visibility: hidden;
    transition: none;
}

.close span:nth-child(3) {
    transform: translateY(-11px) rotate(138deg);
}

.header .navbar {
    transition: .5s;
    position: absolute;
    top: -100vh;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    z-index: -1;
}

.mainHeaderActive {
    top: 0 !important;
}

.header .navbar div:last-child {
    border: none;
}

.header .navbar div {
    border-right: 1px solid #3027AE;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .navbar .logo img {
    width: 50%;
}

.header .mainHeaderActive .logo {
    animation: smooth 0s ease;
}

.header .mainHeaderActive .logo img {
    animation: LogoAnimate 1s linear;
}

@keyframes logoAnimate {
    0% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

.header .navbar div {
    background: var(--white);
    min-width: 200px;
    width: 100%;
}

.header .mainHeaderActive .link1 {
    animation: smooth .5s ease;
}

.header .mainHeaderActive .link2 {
    animation: smooth 1s ease;
}

.header .mainHeaderActive .link3 {
    animation: smooth 1.5s ease;
}
.header .mainHeaderActive .link3 svg {
    color: #2c2c2c;
    font-size: 2rem;
    margin: 0 10px;
}

@keyframes smooth {
    0% {
        transform: translateY(-100vh);
    }

    100% {
        transform: translateY(0);
    }
}

@media (max-width: 1024px) {
    .header .navbar div a {
        font-size: 1rem;
    }
}

@media (max-width: 425px) {
    .header .navbar {
        flex-direction: column;
    }

    .header .burger {
        width: 30px;
    }

    .header .burger span {
        margin: 5px 0;
    }
}