@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-family: 'Ubuntu', sans-serif;
  /* background-color: rgba(0, 0, 0, 0.1); */
}

:root { 
  --darkGray: rgb(32, 32, 32);
  --lightGray: rgba(255, 255, 255, 0.5);
  --white: #ffffff;
  --red: #ff0000;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
}